/**
 * [description]   @xianfei for  hg homepage  css 
 * @AuthorHTL                                  xianfei
 * @DateTime    2016-06-27T11:18:18+0800
 * @description
 */

/*common css start*/
* {
	font-family: "PingFang";
}
html, body {
	height: 100%;
}
.disNon {
	display: none;
}
#ani_ct2{
	border-top: 1px solid #8A8A8A;
	width: 80%;
    margin-left: 10%;
}
#login1 .ani_ct1,#login1 .ani_ct3{
	visibility: hidden;
}
/*common css end*/

/*mui & webui 兼容性bug解决*/
.ui-load-main {
	box-sizing: content-box;
}

/*mui & webui 兼容性bug解决*/

/*JS_STEP_1 start*/
#JS_STEP_1 {
	width: 100%;
	display: none;
	height: 50px;
}
#STEP_0 {
	width: 100%;
	height: 91%;
	display: none;
	position: relative;
}
#STEP_1 {
	width: 100%;
	height: 91%;
	display: none;
}
#STEP_2 {
	width: 100%;
	height: 91%;
	display: none;
}
#STEP_3 {
	width: 100%;
	height: 91%;
	display: none;
}
#STEP_4 {
	width: 100%;
	height: 91%;
	display: none;
}
#STEP_5 {
	width: 100%;
	height: 91%;
	display: none;
}
#head {
	height: 50px;
	background-color: #000;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;
	overflow: hidden;
}
#pullImg{
	position: absolute;
    bottom: 5px;
    text-align: center;
    width: 69px;
    left: 42%;
}
#head span {
	color: #fff;
	font-size: 15px;
	line-height: 3;
}
#head img {
	margin-right: 20px;
	margin-top: 16px;
	width: 22px;
}
#showPop{
	float: right;
	width: 50px;
	height: 50px;
	display: inline-block;
}
#back {
	visibility: hidden;
}
#back img {
	float: left;
	width: 10px;
	margin-left: 6px;
	margin-right: 0;
}
#back span {
	float: left;
	margin-left: 2px;
}
#popover {
	width: 113px;
	opacity: 0.5;
	position: fixed;
	right: 10px;
	top: 53px;
	display: none;
	z-index: 999;
}
#popover a {
	color: #fff;
}
#popover li {
	text-align: center;
	margin: 22px auto;
}
#triangle-up {
	width: 0;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 14px solid #000;
	margin-left: 85px;
}
#popover ul {
	background-color: #000;
}
#popover .table-li1 {
	margin-top: 0;
	padding-top: 22px;
}
#popover .table-li6 {
	padding-bottom: 22px;
}
#login1 {
	background-image: url(../img/home/2.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#login3 {
	background-image: url(../img/home/bg2.png);
	background-size: contain;
	background-position-y: -28px;
}

.lg1_ct1 {
	font-size: 13px;
	color: #fff;
	margin-top: 121px;
	margin-bottom: 24.5px;
	font-family: "microsoft yahei light";
}
.lg1_ct2 {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	
	margin: 0 37px;
	padding-bottom: 12.5px;
}
.lg1_ct3 {
	font-size: 16.5px;
	color: #01FFB4;
	border: 1px solid #01FFB4;
	margin: 22px 46px 18px 46px;
	padding: 5px;
}
.lg1_ct4 {
	font-size: 14.5px;
	color: #fff;
}
.lg1_ct5 {
	position: absolute;
	bottom: 77px;
	width: 100%;
	color: #48deb2;
	font-size: 10px;
}

/*JS_STEP_1 end*/

/*ul wrapper*/
#iSlider-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
}
#iSlider-wrapper ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
#iSlider-wrapper li {
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	list-style: none;
}
#iSlider-wrapper .lgct {
	width: 100%;
	height: 100%;
	text-align: center;
}
.titile {
	text-align: center;
	padding-bottom: 6px;
}
.section2-line {
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 11px;
	width: 108px;
}
.title-one {
	font-size: 20px;
	color: #6E6E6E;
	margin-bottom: 11px;
}
.title-two {
	font-size: 9px;
	color: #6e6e6e;
	font-family: "microsoft yahei light";
}
#iSlider-wrapper  .up-img {
	position: absolute;
	bottom: 110px;
	left: 47%;
	width: 20px;
}
.lg2_cont {
}
#iSlider-wrapper .lg2_cont {
	width: 100%;
	text-align: center;
}
#iSlider-wrapper .lg2_left {
	text-align: center;
	width: 35%;
	display: inline-block;
}
#iSlider-wrapper .lg2_right {
	text-align: center;
	width: 34%;
	display: inline-block;
}
.lg2_cont img {
	display: inline-block;
	width: 93px;
}
.lg2_cont  p {
	font-size: 11px;
	color: #48deb2;
	margin-top: 11.5px;
	    margin-bottom: 24px;
}
#iSlider-wrapper .lg2_change {
}
#login3 p {
	text-align: left;
	color: #fff;
	margin-left: 38px;
}

#login3 .footer_up{
	bottom: 100px;
}
#login3 .lg3_c1 {
	margin-top: 10px;
	margin-bottom: 13px;
	font-size: 20px;
	border-bottom: 1px solid #4cdfb4;
	padding-bottom: 5px;
}
#login3 .lg3_c2 {
	font-size: 12px;
	margin-bottom: 7.5px;
}
#login3 .lg3_c3 {
	font-size: 12px;
	margin-bottom: 11.5px;
}
#login3 .lg3_s1 {
	color: #4cdfb4;
	font-size: 24px;
}
#login3 .lg3_c4 {
	color: #4cdfb4;
	font-size: 20px;
	letter-spacing: 1.5px;
	margin-bottom: 11.5px;
}
#login3 .lg3_c5 {
	color: #4cdfb4;
	border: 1px solid #4cdfb4;
	width: 74px;
	padding: 6px;
	font-size: 11px;
	text-align: center;
}
#login3 .lg1_ct5 {
	position: absolute;
	bottom: 66px;
	width: 100%;
	color: #48deb2;
	font-size: 10px;
	text-align: center;
	margin-left: 0;
}
#login3 .lg2_m1{
	position: absolute;
    z-index: 50;
    bottom: 21%;
    right: 4%;
}
#login3 .lg2_m2{
	position: absolute;
	z-index: 51;
    bottom: 24%;
    right: 7%;
}
#login3 .lg2_m3{
	position: absolute;
	z-index: 52;
	bottom: 27%;
	    right: 11%;
}
#login3 .lg2_m4{
	position: absolute;
	z-index: 53;
	bottom: 30%;
	    right: 15%;
}

#login3 .lg2_m{
	width:40%;
}
#login4  .lg4_c1 {
	margin-bottom: 9px;
}
#login4 .lg2_cont p {
	margin-bottom: 0;
	margin-top: 0;
}
#login4 .lg4bg {
	width: 88%;
}
#login5 {
	background-color: #1F1E24;
}
#login5 .lg5bg1 {
	width: 78%;
}
#login5 .lg5bg2 {
	margin-top: 15px;
	height: 1px;
}
#login6 p {
	color: #6e6e6e;
	font-size: 13px;
	text-align: left;
	font-family: "Adobe Heiti Std";
}
#login6 .lg6p {
	color: #454545;
	font-size: 15px;
	font-family: "PingFang";
	margin-top: 15.5px;
	margin-bottom: 11px;
}
#login6 .lg6_cont {
	position: absolute;
	background-color: #fff;
	bottom: 7%;
	width: 100%;
	padding-left: 15px;
	padding-bottom: 10px;
}
#login6 .lg6_cont1 {
	margin-bottom: 16px;
}
#login6 .lg6_cont2 {
	text-indent: 20px;
}
#login6 .lg6mg1 {
	background-size: cover;
	position: relative;
	left: 0px;
	top: -89px;
}
.lg6_cont img {
	height: 21px;
}
.productImg {
	text-align: center;
}
.productImg img {
	width: 91%;
	margin-top: 73px;
}
#scimg img {
	position: absolute;
	top: 229px;
	width: 35%;
}
#simg1 {
	z-index: 96;
	left: 7%;
}
#simg2 {
	z-index: 99;
	left: 19%;
}
#simg3 {
	z-index: 100;
	left: 33%;
	width: 478px;
}
#simg4 {
	z-index: 98;
	right: 19%;
}
#simg5 {
	z-index: 97;
	right: 7%;
}
.suc_footer {
	font-size: 10px;
	color: #6e6e6e;
	text-indent: 2em;
	line-height: 1.2;
	position: absolute;
	bottom: 8%;
	padding: 0 35px;
}
#STEP_1 .comp-cont1 {
	font-size: 9px;
	color: #454545;
	margin-top: 30px;
	margin-bottom: 26px;
	text-indent: 2em;
	padding: 0 20px;
	line-height: 16px;
}
.comp-cont2 {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 46%;
	display: inline-block;
	margin-bottom: 35px;
	text-align: center;
}
.container img {
	display: block;
	margin: 0 auto;
	width: 61%;
}
.container .txt1 {
	font-size: 9px;
	color: #454545;
	margin-top: 13px;
	margin-bottom: 10px;
}
.container .txt2 {
	font-size: 7px;
	color: #6E6E6E;
}
.comp-cont3 {
	text-align: center;
}
.comp-cont3 img {
	width: 33%;
	height: 1px;
	margin-top: 8px;
}
.comp-cont3 span {
	font-size: 15px;
	color: #454545;
}
body {
	overflow: hidden;
}
.intr_cont1 {
	font-size: 10px;
	color: #454545;
	margin: 35px 8%;
}
.intr_cont1 .cont1_title {
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: center;
}
.intr_cont1 .tx1 {
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 20px;
}
.intr_cont2 {
	background-color: #374D5B;
	font-size: 10px;
	color: #e1e1e1;
	padding: 35px 8%;
	line-height: 16px;
}
.intr_cont2 .intr_tx1 {
	font-weight: bold;
	color: #48deb2;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.intr_cont2 .intr_tx2 {
	font-weight: bold;
	color: #48deb2;
	margin-top: 15px;
	margin-bottom: 8px;
}
.intr_cont2 .intr_tx3 {
	text-indent: 2em;
}
.intr_cont3 {
	font-size: 10px;
	color: #454545;
	margin: 35px 8%;
}
.intr_cont3 .intr_t1 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.intr_cont3 .intr_t2 {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 8px;
}
.intr_cont4 {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.intr_cont4 img {
	width: 19%;
}
.intr_cont4 .intr_img {
	margin-right: 3%;
}
.intr_cont5 {
	background-color: #374D5B;
	font-size: 10px;
	color: #e1e1e1;
	padding: 35px 8%;
	line-height: 16px;
	margin-top: 35px;
}
.intr_cont5 .intr5_t1 {
	font-weight: bold;
	color: #48deb2;
	font-size: 15px;
	margin-bottom: 20px;
	text-align: center;
}
.intr_cont5 .intr5_t2 {
	color: #48deb2;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 8px;
}
.intr_cont5 .intr5_t3 {
	color: #48deb2;
	font-weight: bold;
}
.intr_cont5 .intr5_t4 {
	margin-top: 10px;
}
.intr_cont6 {
	font-size: 10px;
	color: #454545;
	margin-top: 35px;
	margin-bottom: 25px;
	padding: 0 8%;
}
.intr_cont6 .intr6_t1 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}
.intr_cont7 {
	font-size: 10px;
	color: #454545;
	padding: 10px 8%;
	line-height: 16px;
}
.intr_cont7 .intr7_t1 {
	font-weight: bold;
	margin-bottom: 10px;
}
.join-cont1 {
	text-align: center;
	margin-top: 25px;
}
.join-cont1 .join_part {
	display: inline-block;
	width: 27%;
}
.join-cont1 .join_mid {
	margin: 19px;
}
.join-cont1 img {
	display: block;
	margin: 0 auto;
}
.join-cont1 .join-txt1 {
	margin-top: 27px;
	margin-bottom: 9px;
	font-size: 10px;
}
.join_part p {
	font-size: 10px;
	color: #848484;
}
.join_part img {
	width: 100%;
}
.join-cont3 {
	margin: 8px 4%;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 48px;
}
.join-cont3 img {
	width: 46%;
}
.join-cont3 .jc3img1 {
	margin-right: 8px;
	margin-top: 10px;
}
.join-cont3 .jc3img2 {
	margin-top: 10px;
}
.new_ct .new_left {
	float: left;
	position: relative;
}
.new_ct {
	margin-top: 26px;
	margin-left: 25px;
}
.new_ct .new_right {
	width: 73%;
	margin-left: 74px;
	bottom: 21px;
	position: relative;
	border-bottom: 1px dashed #454545;
}
.new_ct .new_year {
	font-size: 8px;
	position: relative;
	bottom: 14px;
	left: 0px;
}
.new_ct .new_day {
	font-size: 25px;
	position: relative;
	top: 13px;
	left: -24px;
}
.new_ct .new_img {
	position: absolute;
	left: 27px;
	top: -23px;
}
.new_img1 {
	position: absolute;
	left: 35px;
	top: -5px;
}
.new_ct .news_t {
	font-size: 12px;
	color: #454545;
	font-weight: bold;
}
.new_ct .news_day {
	color: #6e6e6e;
	font-size: 9px;
	margin-top: 5px;
}
.new_ct .news {
	color: #454545;
	font-size: 10px;
	margin-top: 11px;
}
.new_ct .readAll {
	font-size: 9px;
	margin-top: 10px;
	margin-bottom: 17px;
	color: #48deb2;
}
.new_ct .right_last {
	border-bottom: none;
}
.ct_last {
	border-bottom: 1px dashed #7B7B7B;
}
.new_bot {
	text-align: center;
	margin: 19px auto;
	font-size: 10px;
	color: #48deb2;
	padding-bottom: 30px;
}
.new_bot .bt_t2 {
	color: #454545;
	margin: 0 15px;
}
.new_bot .bt_hover {
	margin-right: 10px;
}
#pullrefresh {
	display: none;
	margin-top: 55px;
}
#pullrefresh .up-img {
	    position: absolute;
    bottom: 32px;
    left: 31%;
    width: 20px;
}
#pullrefresh .lg1_ct5 {
	position: absolute;
	bottom: -3px;
	width: 100%;
	color: #48deb2;
	font-size: 10px;
	text-align: center;
}
#pullrefresh .new_ct:last-child {
	padding-bottom: 30px;
}
 .footer_up {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1.5s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1.5s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 1.5s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px)
	}
	30% {
		opacity: 0.4;
		-webkit-transform: translateY(500px);
		transform: translateY(500px)
	}
	60% {
		opacity: 0.6;
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px)
	}
	80% {
		opacity: 0.8;
		-webkit-transform: translateY(5px);
		transform: translateY(5px)
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}
@keyframes bounceInUp {
	0% {
		opacity: 0.2;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}
	60% {
		opacity: 0.8;
		-webkit-transform: translateY(5px);
		-ms-transform: translateY(5px);
		transform: translateY(5px)
	}
	
	100% {
		opacity: 1;	
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}
.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp
}

#login2 .lg2_content{
	visibility: hidden;
}
#login4 .lg4bg{
	display: none;
}
#login5 .lg5an1{
	display: none;
}

